# dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build
/build
/dist

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.log
*.tmp
*.swp
*~

# IDE
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
Desktop.ini

# Infrastructure
.terraform/
*.tfstate
*.tfstate.backup
OCI/
infra/
backend/
