@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

:root {
  color-scheme: dark;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

* {
  box-sizing: border-box;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
